In [41]:
import numpy as np
import pandas as pd

1. Считать в pandas.DataFrame любой источник данных: CSV, JSON, Excel-файл, HTML-таблицу и т.п.

In [42]:
# read csv files
dataset = pd.read_csv('Dataset.csv')
dataset1 = pd.read_csv('Dataset.csv')

2. Привести описание датасета.

**Датасет содержит данные об оценках (колонка rating) пользователей имеющих уникальных user_id фильмам, которые имеют уникальных item_id, также в датасете приводится временная метка. Цель - прогнозирование оценок ещё не оцененных фильмов.**

In [43]:
print(dataset)

        user_id  item_id  rating  timestamp
0             0       50       5  881250949
1             0      172       5  881250949
2             0      133       1  881250949
3           196      242       3  881250949
4           186      302       3  891717742
...         ...      ...     ...        ...
99998       880      476       3  880175444
99999       716      204       5  879795543
100000      276     1090       1  874795795
100001       13      225       2  882399156
100002       12      203       3  879959583

[100003 rows x 4 columns]

3. Выполнить над датафреймом следующие операции:

.head().

.describe().

Считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки).

Фильтрация строк по диапазону индекса.

Фильтрация набора данных по какому-либо условию.

Работа с пропущенными значениями:

удаление строк с пропущенными значениями;

заполнение пропущенных значений средним значением по колонке.

Если пропущенных значений нет - намеренно их сгенерировать, прибить какие-то куски данных в np.nan.

Создание нового поля, вычисленного на основе значений других полей:

через выражение на базе имеющихся колонок;

через DataFrame.apply;

через Series.apply.

Сортировка по какому-либо из полей.

Вычисление нескольких статистик по колонкам (использовать встроенные агрегатные функции - любые на выбор).

Вывод по какому-либо полю / набору полей числа значений с использованием .value_counts().

Вывод уникальных значений какой-либо колонки с использованием .unique().

Удаление текущего индекса, и создание нового индекса на базе новой колонки, которая для этого лучше всего подходит - см. reset_index и set_index.

In [11]:
print('dataset :')
print(dataset.head(2))
print('--------------------------')
print(dataset.describe())

print('--------------------------')
print(dataset.iloc[200, 0])
print('--------------------------')
print(dataset.iloc[200:204, 0:3])
print('--------------------------')
print(dataset[dataset['rating'] < 3])
print('--------------------------')

dataset :
   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
--------------------------
             user_id        item_id         rating     timestamp
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08
--------------------------
293
--------------------------
     user_id  item_id  rating
200      293     1267       3
201       26      930       2
202      130      216       4
203       92     1079       3
--------------------------
        user_id  item_id  rating  timestamp
2             0      133       1  881250949
5            22      377       1  878887116
6           244       51       2  880606923
7           166      346       1  886397596
9           115      265       2  881171488
...         ...      ...     ...        ...
99987       654      370       2  887863914
99990       660      229       2  891406212
99996       913      209       2  881367150
100000      276     1090       1  874795795
100001       13      225       2  882399156

[17481 rows x 4 columns]
--------------------------

In [12]:
rows_to_replace = [0, 1, 2]
cols_to_replace = [0, 1, 2]
# Заменяем случайные значения на np.nan
dataset.iloc[rows_to_replace, cols_to_replace] = np.nan
cleaned_data = dataset.dropna()
print(cleaned_data)
print('--------------------------')
filled_data = dataset.fillna(dataset.mean())
print(filled_data)
print('--------------------------')
# Через выражение на базе имеющихся колонок
dataset['new_column1'] = dataset['rating'] * dataset['timestamp']
print(dataset)
# Через DataFrame.apply
dataset['new_column2'] = dataset.apply(lambda row: row['rating'] * row['timestamp'], axis=1)
print(dataset)
# Через Series.apply
dataset['new_column3'] = dataset['rating'].apply(lambda x: x * 2)
print(dataset)
print('--------------------------')

        user_id  item_id  rating  timestamp
3         196.0    242.0     3.0  881250949
4         186.0    302.0     3.0  891717742
5          22.0    377.0     1.0  878887116
6         244.0     51.0     2.0  880606923
7         166.0    346.0     1.0  886397596
...         ...      ...     ...        ...
99998     880.0    476.0     3.0  880175444
99999     716.0    204.0     5.0  879795543
100000    276.0   1090.0     1.0  874795795
100001     13.0    225.0     2.0  882399156
100002     12.0    203.0     3.0  879959583

[100000 rows x 4 columns]
--------------------------
          user_id     item_id   rating  timestamp
0       462.48475   425.53013  3.52986  881250949
1       462.48475   425.53013  3.52986  881250949
2       462.48475   425.53013  3.52986  881250949
3       196.00000   242.00000  3.00000  881250949
4       186.00000   302.00000  3.00000  891717742
...           ...         ...      ...        ...
99998   880.00000   476.00000  3.00000  880175444
99999   716.00000   204.00000  5.00000  879795543
100000  276.00000  1090.00000  1.00000  874795795
100001   13.00000   225.00000  2.00000  882399156
100002   12.00000   203.00000  3.00000  879959583

[100003 rows x 4 columns]
--------------------------
        user_id  item_id  rating  timestamp   new_column1
0           NaN      NaN     NaN  881250949           NaN
1           NaN      NaN     NaN  881250949           NaN
2           NaN      NaN     NaN  881250949           NaN
3         196.0    242.0     3.0  881250949  2.643753e+09
4         186.0    302.0     3.0  891717742  2.675153e+09
...         ...      ...     ...        ...           ...
99998     880.0    476.0     3.0  880175444  2.640526e+09
99999     716.0    204.0     5.0  879795543  4.398978e+09
100000    276.0   1090.0     1.0  874795795  8.747958e+08
100001     13.0    225.0     2.0  882399156  1.764798e+09
100002     12.0    203.0     3.0  879959583  2.639879e+09

[100003 rows x 5 columns]
        user_id  item_id  rating  timestamp   new_column1   new_column2
0           NaN      NaN     NaN  881250949           NaN           NaN
1           NaN      NaN     NaN  881250949           NaN           NaN
2           NaN      NaN     NaN  881250949           NaN           NaN
3         196.0    242.0     3.0  881250949  2.643753e+09  2.643753e+09
4         186.0    302.0     3.0  891717742  2.675153e+09  2.675153e+09
...         ...      ...     ...        ...           ...           ...
99998     880.0    476.0     3.0  880175444  2.640526e+09  2.640526e+09
99999     716.0    204.0     5.0  879795543  4.398978e+09  4.398978e+09
100000    276.0   1090.0     1.0  874795795  8.747958e+08  8.747958e+08
100001     13.0    225.0     2.0  882399156  1.764798e+09  1.764798e+09
100002     12.0    203.0     3.0  879959583  2.639879e+09  2.639879e+09

[100003 rows x 6 columns]
        user_id  item_id  rating  timestamp   new_column1   new_column2  \
0           NaN      NaN     NaN  881250949           NaN           NaN
1           NaN      NaN     NaN  881250949           NaN           NaN
2           NaN      NaN     NaN  881250949           NaN           NaN
3         196.0    242.0     3.0  881250949  2.643753e+09  2.643753e+09
4         186.0    302.0     3.0  891717742  2.675153e+09  2.675153e+09
...         ...      ...     ...        ...           ...           ...
99998     880.0    476.0     3.0  880175444  2.640526e+09  2.640526e+09
99999     716.0    204.0     5.0  879795543  4.398978e+09  4.398978e+09
100000    276.0   1090.0     1.0  874795795  8.747958e+08  8.747958e+08
100001     13.0    225.0     2.0  882399156  1.764798e+09  1.764798e+09
100002     12.0    203.0     3.0  879959583  2.639879e+09  2.639879e+09

        new_column3
0               NaN
1               NaN
2               NaN
3               6.0
4               6.0
...             ...
99998           6.0
99999          10.0
100000          2.0
100001          4.0
100002          6.0

[100003 rows x 7 columns]
--------------------------

In [13]:
sorted_data = dataset.sort_values(by='timestamp', ascending=False)
print(sorted_data.iloc[:, 0:4])
print('--------------------------')
# Вычисление нескольких статистик по колонкам:
mean = dataset['rating'].mean()
median = dataset['rating'].median()
std_dev = dataset['rating'].std()

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)
print('--------------------------')
# Вывод по какому-либо полю / набору полей числа значений с использованием .value_counts():
value_counts = dataset['item_id'].value_counts()
print(value_counts)
print('--------------------------')
# Вывод уникальных значений какой-либо колонки с использованием .unique():
unique_values = dataset['item_id'].unique()
print(unique_values)
print('--------------------------')
# Удаление текущего индекса, и создание нового индекса на базе новой колонки:
# Удаление текущего индекса
dataset.reset_index(drop=True)  # сбрасываем индекс
print(dataset)
print('--------------------------')
# Создание нового индекса на базе новой колонки
dataset.set_index('item_id', inplace=True)
print(dataset)
print('--------------------------')

       user_id  item_id  rating  timestamp
73011    729.0    313.0     3.0  893286638
74247    729.0    300.0     4.0  893286638
46577    729.0    328.0     3.0  893286638
46776    729.0    689.0     4.0  893286638
52137    729.0    333.0     4.0  893286638
...        ...      ...     ...        ...
82658    259.0    173.0     4.0  874724843
21399    259.0    185.0     4.0  874724781
43030    259.0    298.0     4.0  874724754
83968    259.0    286.0     4.0  874724727
217      259.0    255.0     4.0  874724710

[100003 rows x 4 columns]
--------------------------
Mean: 3.52986
Median: 4.0
Standard Deviation: 1.125673599144129
--------------------------
item_id
50.0      583
258.0     509
100.0     508
181.0     507
294.0     485
         ...
852.0       1
1505.0      1
1653.0      1
1452.0      1
1641.0      1
Name: count, Length: 1682, dtype: int64
--------------------------
[  nan  242.  302. ... 1637. 1630. 1641.]
--------------------------
        user_id  item_id  rating  timestamp   new_column1   new_column2  \
0           NaN      NaN     NaN  881250949           NaN           NaN
1           NaN      NaN     NaN  881250949           NaN           NaN
2           NaN      NaN     NaN  881250949           NaN           NaN
3         196.0    242.0     3.0  881250949  2.643753e+09  2.643753e+09
4         186.0    302.0     3.0  891717742  2.675153e+09  2.675153e+09
...         ...      ...     ...        ...           ...           ...
99998     880.0    476.0     3.0  880175444  2.640526e+09  2.640526e+09
99999     716.0    204.0     5.0  879795543  4.398978e+09  4.398978e+09
100000    276.0   1090.0     1.0  874795795  8.747958e+08  8.747958e+08
100001     13.0    225.0     2.0  882399156  1.764798e+09  1.764798e+09
100002     12.0    203.0     3.0  879959583  2.639879e+09  2.639879e+09

        new_column3
0               NaN
1               NaN
2               NaN
3               6.0
4               6.0
...             ...
99998           6.0
99999          10.0
100000          2.0
100001          4.0
100002          6.0

[100003 rows x 7 columns]
--------------------------
         user_id  rating  timestamp   new_column1   new_column2  new_column3
item_id
NaN          NaN     NaN  881250949           NaN           NaN          NaN
NaN          NaN     NaN  881250949           NaN           NaN          NaN
NaN          NaN     NaN  881250949           NaN           NaN          NaN
242.0      196.0     3.0  881250949  2.643753e+09  2.643753e+09          6.0
302.0      186.0     3.0  891717742  2.675153e+09  2.675153e+09          6.0
...          ...     ...        ...           ...           ...          ...
476.0      880.0     3.0  880175444  2.640526e+09  2.640526e+09          6.0
204.0      716.0     5.0  879795543  4.398978e+09  4.398978e+09         10.0
1090.0     276.0     1.0  874795795  8.747958e+08  8.747958e+08          2.0
225.0       13.0     2.0  882399156  1.764798e+09  1.764798e+09          4.0
203.0       12.0     3.0  879959583  2.639879e+09  2.639879e+09          6.0

[100003 rows x 6 columns]
--------------------------

4. Продемонстрировать работу .groupby, на основе группировок в groupby вычислить агрегатные функции по одной или нескольким колонкам.

In [14]:
grouped_data = dataset.groupby('rating').agg({'user_id': 'mean', 'timestamp': 'sum'})
print(grouped_data)
print('--------------------------')

           user_id       timestamp
rating
1.0     433.439771   5399287134808
2.0     472.553298  10048423674388
3.0     473.030061  23983893758677
4.0     464.684175  30188123538057
5.0     448.408518  18733157042932
--------------------------

5.Решейпинг данных 1D->2D с использованием .pivot (можно подать на вход результаты агрегатов, полученных ранее с использованием .groupby (сгруппировать по двум полям).

In [15]:
grouped_data_new = dataset.groupby('rating').agg({'user_id': 'mean', 'timestamp': 'sum'})
grouped_data_new = grouped_data_new.reset_index()
grouped_data_new = grouped_data_new.rename(columns={'rating': 'count_rating'})
pivot_df = grouped_data_new.pivot(index='user_id', columns='count_rating', values='count_rating')
print(pivot_df)

count_rating  1.0  2.0  3.0  4.0  5.0
user_id
433.439771    1.0  NaN  NaN  NaN  NaN
448.408518    NaN  NaN  NaN  NaN  5.0
464.684175    NaN  NaN  NaN  4.0  NaN
472.553298    NaN  2.0  NaN  NaN  NaN
473.030061    NaN  NaN  3.0  NaN  NaN

6. Решейпинг 1D->2D данных, соединённых с группировкой / агрегацией (одним словом - сводная таблица): .pivot_table. Группировать только по категориальным полям или числовым, если значений немного.

In [16]:
pivot_table = pd.pivot_table(dataset, values='rating', index='user_id', columns='item_id', aggfunc=np.mean)
print(pivot_table)

item_id  1.0     2.0     3.0     4.0     5.0     6.0     7.0     8.0     \
user_id
1.0         5.0     3.0     4.0     3.0     3.0     5.0     4.0     1.0
2.0         4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3.0         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4.0         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5.0         4.0     3.0     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...     ...     ...
939.0       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
940.0       NaN     NaN     NaN     2.0     NaN     NaN     4.0     5.0
941.0       5.0     NaN     NaN     NaN     NaN     NaN     4.0     NaN
942.0       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
943.0       NaN     5.0     NaN     NaN     NaN     NaN     NaN     NaN

item_id  9.0     10.0    ...  1673.0  1674.0  1675.0  1676.0  1677.0  1678.0  \
user_id                  ...
1.0         5.0     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
2.0         NaN     2.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
3.0         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
4.0         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
5.0         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
939.0       5.0     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
940.0       3.0     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
941.0       NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
942.0       NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
943.0       3.0     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN

item_id  1679.0  1680.0  1681.0  1682.0
user_id
1.0         NaN     NaN     NaN     NaN
2.0         NaN     NaN     NaN     NaN
3.0         NaN     NaN     NaN     NaN
4.0         NaN     NaN     NaN     NaN
5.0         NaN     NaN     NaN     NaN
...         ...     ...     ...     ...
939.0       NaN     NaN     NaN     NaN
940.0       NaN     NaN     NaN     NaN
941.0       NaN     NaN     NaN     NaN
942.0       NaN     NaN     NaN     NaN
943.0       NaN     NaN     NaN     NaN

[943 rows x 1682 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_32656\2386454026.py:1: FutureWarning: The provided callable <function mean at 0x00000220A4F879C0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_table = pd.pivot_table(dataset, values='rating', index='user_id', columns='item_id', aggfunc=np.mean)

7. Вычислить квантили распределения какого-либо вещественного признака (с использованием numpy.quantile или nump.percentile).

In [17]:
g_column = dataset1["item_id"]
q1 = np.percentile(g_column, 25)
median = np.percentile(g_column, 50)
q3 = np.percentile(g_column, 75)
print("Первый квантиль:", q1)
print("Медиана:", median)
print("Третий квантиль:", q3)

Первый квантиль: 175.0
Медиана: 322.0
Третий квантиль: 631.0

8. Вычислить (в виде текста) гистограмму какого-либо вещественного признака (с использованием numpy.histogram). Значения гистограммы можно использовать в качестве загрубленного числового признака для заданий (5) или (6).

In [18]:
hist, bins = np.histogram(dataset1['item_id'], bins=10)
print("Histogram:")
for i in range(len(hist)):
    print(f"{bins[i]} - {bins[i+1]}: {hist[i]}")

Histogram:
1.0 - 169.1: 23673
169.1 - 337.2: 28411
337.2 - 505.29999999999995: 14237
505.29999999999995 - 673.4: 11567
673.4 - 841.5: 9108
841.5 - 1009.5999999999999: 5549
1009.5999999999999 - 1177.7: 4332
1177.7 - 1345.8: 1893
1345.8 - 1513.8999999999999: 851
1513.8999999999999 - 1682.0: 382

9. Проитерировать DataFrame построчно .iterrows() и выполнить какую-либо операцию внутри цикла.

In [19]:
data_iter = dataset1.iloc[5:35]
for index, row in data_iter.iterrows():
    row_sum = row['item_id'] + row['rating']
    print(f"Сумма в строке {index}: {row_sum}")

Сумма в строке 5: 378
Сумма в строке 6: 53
Сумма в строке 7: 347
Сумма в строке 8: 478
Сумма в строке 9: 267
Сумма в строке 10: 470
Сумма в строке 11: 454
Сумма в строке 12: 89
Сумма в строке 13: 259
Сумма в строке 14: 1019
Сумма в строке 15: 227
Сумма в строке 16: 43
Сумма в строке 17: 32
Сумма в строке 18: 788
Сумма в строке 19: 392
Сумма в строке 20: 276
Сумма в строке 21: 1046
Сумма в строке 22: 1186
Сумма в строке 23: 396
Сумма в строке 24: 490
Сумма в строке 25: 148
Сумма в строке 26: 120
Сумма в строке 27: 5
Сумма в строке 28: 548
Сумма в строке 29: 100
Сумма в строке 30: 770
Сумма в строке 31: 281
Сумма в строке 32: 239
Сумма в строке 33: 249
Сумма в строке 34: 102

10. Получить DataFrame с MultiIndex любым способом: через конструктор (в документации есть множество видов конструкторов для создания MultiIndex с нуля), через read_sql / read_csv / read_excel, read_*, через pivot_table, через groupby или иными способами.

In [24]:

data_multi = dataset1.copy()
data_multi["rating"] = data_multi["rating"].astype('category')
data_multi.set_index(keys=['rating', 'timestamp'], append=True, inplace=True)# Устанавливаем мультииндекс
data_multi.head(10)

                    user_id  item_id
  rating timestamp
0 5      881250949        0       50
1 5      881250949        0      172
2 1      881250949        0      133
3 3      881250949      196      242
4 3      891717742      186      302
5 1      878887116       22      377
6 2      880606923      244       51
7 1      886397596      166      346
8 4      884182806      298      474
9 2      881171488      115      265

In [25]:
data_multi.swaplevel('timestamp', 'rating')

                         user_id  item_id
       timestamp rating
0      881250949 5             0       50
1      881250949 5             0      172
2      881250949 1             0      133
3      881250949 3           196      242
4      891717742 3           186      302
...                          ...      ...
99998  880175444 3           880      476
99999  879795543 5           716      204
100000 874795795 1           276     1090
100001 882399156 2            13      225
100002 879959583 3            12      203

[100003 rows x 2 columns]

In [30]:
print(data_multi.transpose().head(10))

             0         1         2         3         4         5       \
rating            5         5         1         3         3         1
timestamp 881250949 881250949 881250949 881250949 891717742 878887116
user_id           0         0         0       196       186        22
item_id          50       172       133       242       302       377

             6         7         8         9       ...    99993     99994   \
rating            2         1         4         2  ...         4         4
timestamp 880606923 886397596 884182806 881171488  ... 882388897 892685437
user_id         244       166       298       115  ...       806       676
item_id          51       346       474       265  ...       421       538

             99995     99996     99997     99998     99999     100000  \
rating            3         2         3         3         5         1
timestamp 877137285 881367150 880056976 880175444 879795543 874795795
user_id         721       913       378       880       716       276
item_id         262       209        78       476       204      1090

             100001    100002
rating            2         3
timestamp 882399156 879959583
user_id          13        12
item_id         225       203

[2 rows x 100003 columns]

In [28]:
data_multi.droplevel('timestamp').head(10)

          user_id  item_id
  rating
0 5             0       50
1 5             0      172
2 1             0      133
3 3           196      242
4 3           186      302
5 1            22      377
6 2           244       51
7 1           166      346
8 4           298      474
9 2           115      265

11. Продемонстировать работу .merge.

In [35]:
new_data = pd.read_csv('Dataset.csv')
data_1 = new_data.iloc[6:10]
data_2 = new_data.iloc[11:15]

In [36]:
data_1

   user_id  item_id  rating  timestamp
6      244       51       2  880606923
7      166      346       1  886397596
8      298      474       4  884182806
9      115      265       2  881171488

In [37]:
data_2

    user_id  item_id  rating  timestamp
11      305      451       3  886324817
12        6       86       3  883603013
13       62      257       2  879372434
14      286     1014       5  879781125

In [39]:
pd.merge(data_1, data_2, on='rating', how='inner')

,user_id_x,item_id_x,rating,timestamp_x,user_id_y,item_id_y,timestamp_y
0,244,51,2,880606923,62,257,879372434
1,115,265,2,881171488,62,257,879372434

12. Продемонстрировать работу с .concat или append.

In [40]:
pd.concat([data_1, data_2])

    user_id  item_id  rating  timestamp
6       244       51       2  880606923
7       166      346       1  886397596
8       298      474       4  884182806
9       115      265       2  881171488
11      305      451       3  886324817
12        6       86       3  883603013
13       62      257       2  879372434
14      286     1014       5  879781125